.overlay-choices {
  /* background-color: rgba(0, 0, 0, 0.5); */
  z-index: 2;
  display: flex;
  height: auto;
  justify-content: flex-end;
  flex-direction: column;
  transition: 1s;
  position: absolute;
  bottom: 0;
  left: 0;
}

.overlay .choice-button {
  font-size: 25px;
  min-width: 200px;
  margin: 5px auto;
  background-color: unset;
  border: none;
  color: white;
  padding: 6px 0px;
  cursor: pointer;
  display: block;
}

.choices-container {
  background: linear-gradient(0deg, rgba(14, 45, 22, 0.5) 0%, rgba(0,0,0,0.5) 50%);
  background-clip: padding-box;
  margin: 30px;
  padding: 15px 50px;
  border: 5px solid rgba(255, 255, 255, 0.5);
  border-radius: 40px;
}

.gooseChoices .overlay-choices {
  transition: 0s;
  height: auto;
  bottom: unset;
  left: unset;
  right: 36%;
  top: 46%;
  justify-content: flex-start;
  opacity: 0.5;
  /* -webkit-transition: 20s; */
  /* -moz-transition: 20s; */
  /* right: 300px; */
  /* transform: rotate(45deg); */
}

.gooseChoices .choices-container {
  border: unset;
  /* margin: unset; */
  padding: 15px;
  background: unset;
}

.gooseChoices .choice-button {
  margin: unset;
  padding: unset;
  min-width: unset;
  font-size: 12px;
}

.gooseDisabled:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  cursor: not-allowed;
}

.gooseDisabled .choice-button {
  color: #555;
}

@media screen and (max-width: 833px) {
  .choices-container {
    padding: 15px;
    margin: 20px;
    border: 3px solid rgba(255, 255, 255, 0.5);
  }
  .overlay .choice-button {
    font-size: 18px;
    margin: 3px auto;
    padding: 3px 0px;
  }
}

/* .overlay-choices button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.overlay-choices button:active {
  background-color: rgba(255, 255, 255, 0.15);
} */

.overlay-choices button:focus {
  outline: unset;
}

.ripple {
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.ripple:after {
    content: "";
    background: rgba(255,255,255,0.3);
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    padding-top: 240%;
    padding-left: 240%;
    margin-top: -120%;
    margin-left: -120%;
    opacity: 0;
    transition: all 1s;
}

.ripple:active:after {
    padding-top: 0;
    padding-left: 0;
    margin-top: 0;
    margin-left: 0;
    opacity: 1;
    transition: 0s;
}